/***********************
reset
***********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --aside-color: #121212;
    --main-color: #17191f;
    --footer-color: #313131;
    --footer-height: 100px;
    --aside-screen: 150px;
}


/***********************
color
***********************/
.aside-screen {
    background-color: var(--aside-color);
}
.main-screen {
    background-color: var(--main-color);
}
footer {
    background-color: var(--footer-color);
}

/***********************
general
***********************/
.upper-screen {
    height: calc(100vh - var(--footer-height));
}
footer {
    height: var(--footer-height);
}
.main-screen {
    width: calc(100vw - var(--aside-screen));
    height: 100%;
}


/***********************
UPPER SCREEN
***********************/
.upper-screen {
    display: flex;
}

/***********************
aside
***********************/
.aside-screen {
    width: var(--aside-screen);
}

/***********************
main
***********************/

/***********************
footer
***********************/


/***********************
responsive
***********************/
@media screen and (max-width:1100px) {
    
}


@media screen and (max-width:700px) {
    
}